:root {
  --mousex-delta: 0;
  --mousey-delta: 0;
  --scroll-delta: 0;
}

.dynamic-transform {
  transform: translate(calc(0% + 8%* var(--mousex-delta)), calc(0% + 8%* var(--mousey-delta) - 14%* var(--scroll-delta)));
  transition: transform 0.1s ease-out; /* Optional: smoother transition */
  
}

.dynamic-transform-absolute {
  position: absolute;
  transform: translate(calc(0% + 6% * var(--mousex-delta))) 
             translateY(calc(0% - 25% * var(--scroll-delta) + 1% * var(--mousey-delta)));
  transition: transform 0.1s ease-out; /* Optional: smoother transition */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
